<div class="container-con">
	<div class="mid-con">
		<div class="left-con">
			<div class="image-section" *ngIf="!url && user.profile=='No profile.'"><img class="passport-image" alt=" hello"
					src="{{samplePath}}" alt="i" name="file"></div>
			<div class="image-section" *ngIf="url "><img class="passport-image" alt="" [src]="url"></div>
			<div class="image-section" *ngIf="!url && user.profile && user.profile!='No profile.'"><img class="passport-image" alt="" [src]="user.profile"></div>

			<a type="button" name="password" (click)="passwordrest()"><button mat-raised-button color="primary">Password
					reset</button></a>
		</div>
		<form [formGroup]="reactiveForm" class="example-form" #f="ngForm" (ngSubmit)="toConfirm()">
			<h2 class="login-title">Update the member</h2>
			<input #imageInput type="file" class="form-control" accept="image/*" placeholder="Select images"
				(change)="onChangeImage($event)">

			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Name</mat-label>
				<input matInput placeholder="Your Name" name="name" id="name" formControlName="name"
					[(ngModel)]="user.username">
				<mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="invalid-feedback">
					<mat-error *ngIf="name?.errors?.['required']">
						This field is required.
					</mat-error>
					<mat-error *ngIf="name?.errors?.['minLength']">
						Please insert name at least 2 characters.
					</mat-error>
					<mat-error *ngIf="name?.errors?.['maxLength']">
						Name should be less than 25 characters.
					</mat-error>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Email</mat-label>
				<input matInput placeholder="yourname@gmail.com" name="email" id="email" formControlName="email"
					[(ngModel)]="user.email">
				<mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
					<mat-error *ngIf="email.errors?.['required']">
						This field is required.
					</mat-error>
					<mat-error *ngIf="email.errors?.['pattern']">
						This is not email.
					</mat-error>
				</mat-error>
			</mat-form-field>
			<mat-divider></mat-divider>

			<mat-form-field appearance="fill">
				<mat-label>Type</mat-label>
				<select matNativeControl required formControlName="type" [(ngModel)]="nrSelect">
					<option value="0">User</option>
					<option value="1">Admin</option>
				</select>
				<mat-error *ngIf="type?.invalid && (type?.dirty || type?.touched)" class="invalid-feedback">
					<mat-error *ngIf="type?.errors?.['required']">
						This field is required.
					</mat-error>

				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill" class="calender">
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker" max="{{todayDate}}" name="date" id="date"
					formControlName="date" required [class.is-invalid]="date?.invalid && (date?.dirty || date?.touched)"
					placeholder="mm/dd/yyyy" [(ngModel)]="user.dob">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="invalid-feedback">
					<mat-error *ngIf="date?.errors?.['required']">
						Pleases insert a date.
					</mat-error>
					<mat-error *ngIf="date?.errors?.['matDatepickerMax']">
						Date is greater than today.
					</mat-error>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Phone</mat-label>
				<input matInput placeholder="09xxxxxxxxx" name="phone" id="phone" formControlName="phone"
					[(ngModel)]="user.phone" minlength="11" maxlength="11">
				<mat-error *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="invalid-feedback">
					<mat-error *ngIf="phone?.errors?.['required']">
						This field is required.
					</mat-error>
					<mat-error *ngIf="phone?.errors?.['minlength']">
						Please insert 11 digits.
					</mat-error>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Address</mat-label>
				<textarea matInput cols="30" rows="5" placeholder="Address" name="address" id="address"
					formControlName="address" [(ngModel)]="user.address"></textarea>
				<mat-error *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="invalid-feedback">
					<mat-error *ngIf="address?.errors?.['required']">
						This field is required.
					</mat-error>
				</mat-error>
			</mat-form-field>
			<div class="example-button-row">
				<button mat-raised-button color="primary" type="submit"
					[disabled]="reactiveForm.invalid">Confirm</button>
			</div>


		</form>
	</div>

</div>