.container-con {
  width: 100%;
  background: #d3d7ed;
  height: 100%;
  padding: 10% 0;
}

.sub-con {
  margin: 0 auto;
  width: 30%;
}

.example-form {
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  background: #fff;

}

.mat-divider {
  border-top-style: none;
}

.btn-con {
  width: 80%;
  margin: 0 auto;
}

button {
  padding: 8px 0;
  width: 100%;
  font-size: large;
}

.example-full-width {
  width: 100%;
}