.example-spacer {
  flex: 1 1 auto;
}

.logo-title {
  text-decoration: none;
  color: inherit;
}

.navbar button {
  margin-right: 30px;
}

mat-toolbar {
  padding-right: 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.login-title {
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.user {
  display: none;
}