table.mat-table {
	width: 100%;
}

.container-con {
	padding: 20px;
	padding-top: 5%;
}

.table_title {
	color: #3f51b5;
	font-size: 30px;
	font-weight: bold;
}

th {
	font-size: 18px;
	color: #3f51b5;
}

.delete,
.edit {
	transform: scale(0.7);
}

.search {
	margin-right: 20px;
}

.mat-raised-button {
	margin-right: 10px;
}

.btn-hide {
	display: none;
}